<form role="form" >
		<div class="form-group" style="line-height:5em">
		
				<div class="row">
		<label class="col-sm-offset-1 control-label col-sm-2" for="singleSelect">
				Juez:    </label>
				<div class="control-label col-sm-2">
		  	  <select  name ="jueces" ng-model="competencia.juez" ng-options="j.nombre +' '+  j.apellido for j in jueces"  ></select>
	
	 		</div>
		</div>
		
		
		<div class="row">
		<label class="col-sm-offset-1 control-label col-sm-12" for="singleSelect">
				Seleccionar Competidores:    </label>
		<div class="col-sm-offset-1 control-label col-sm-12">
		  	 
		 <div class="control-label col-sm-4" ng-repeat="nombreDis in deportistas">
			  <input
			    type="checkbox"
			    name="selectDisciplinas[]"
			    value="{{nombreDis}}"
			    ng-checked="selection.indexOf(nombreDis) > -1"
			    ng-click="toggleSelection(nombreDis)"
			  >{{nombreDis.nombre}} {{nombreDis.apellido}}  ({{nombreDis.comite.pais.pais}})
			   <img class="imagen-deportista" alt="no-image" ng-src="{{nombreDis.foto.ruta}}">
			 <hr>
			</div>
		  	 
		  	 
		  	 
		   		</div>
		</div>
		
		
			<div class="row">
	<md-button  >
	<a ui-sref="formAltaCompetencia.Paso3"
	class="btn btn-block btn-success"> Siguiente<span
			class="glyphicon glyphicon-circle-arrow-right"></span>
	</a></md-button>
		</div>
		
		<div class="row"></form>