<div id="PerfilWrapper" class="PerfilWrapper FullHeight">
	
	<div class="PerfilNews FormCustom">
		
		
			<div class="jumbotron text-center RoundedTop jumpbotrongb">
			    <h1>Creacion de delegaciones</h1>   
			</div>	

	<form role="form" name="formComite">
		<div class="form-group">
		
			
			<div class="row">	
				<label class="control-label col-sm-3" for="inputEmail">Email:</label>
				<div class="col-sm-9">
					<input id="email" type="email" placeholder="Email" ng-model="comite.email"
						class="form-control">
				</div>
			</div>			
			<div class="row">
				<label class="control-label col-sm-3" for="inputPassword">Contrase&ntildea:</label>
				<div class="col-sm-9">
					<input id="inputPassword"  type="password" placeholder="Contrase&ntilde;a" ng-model="comite.password"
						class="form-control">
				</div>
			</div>
			
			<div class="row">
				<label class="control-label col-sm-3" for="inputpais">Pais:</label>
				<div class="col-sm-9">
					<input id="inputpais" placeholder="Pais" ng-model="pais.pais"
						class="form-control">
				</div>
			</div>
			<div class="row">
				<label class="control-label col-sm-3" for="inputciudad">Ciudad:</label>
				<div class="col-sm-9">
					<input id="inputciudad" placeholder="ciudad" ng-model="pais.ciudad"
						class="form-control">
				</div>
			</div>
			<div class="row">
				<label class="control-label col-sm-3" for="inputCodigo">C&oacutedigo Comite:</label>
				<div class="col-sm-9">
					<input id="inputcodigo" placeholder="C&oacute;digo Comite" ng-model="comite.codigo"
						class="form-control">
				</div>
			</div>
			
			<div class="row">
				<label class="control-label col-sm-3" for="inputFacebook">Cuenta Facebook:</label>
				<div class="col-sm-9">
					<input id="inputFacebook" placeholder="Facebook" ng-model="comite.facebook"
						class="form-control">
				</div>
			</div>
			<div class="row">
				<label class="control-label col-sm-3" for="inputTwitter">Cuenta Twitter:</label>
				<div class="col-sm-9">
					<input id="inputTwitter" placeholder="Twiter" ng-model="comite.twitter"
						class="form-control">
				</div>	
			</div>
			<div class="row">
				<label class="control-label col-sm-3" for="inputTwitter">PayPal:</label>
				<div class="col-sm-9">
					<input id="inputPaypal" placeholder="Paypal" ng-model="comite.paypal"
						class="form-control">
				</div>	
			</div>		
			<div class="row">
				<div class="col-sm-offset-3 col-sm-2">
					<input id="file" name="file" type="file" file-model="myFile"/>
				</div>	
			</div>
			<div class="col-sm-offset-11 col-sm-2">
			
<!-- 			ng-disabled="deshabilitarFormComite()"  -->
				<button type="submit" ng-click="altaComite()" class="btn btn-success">Guardar</button>
				<img ng-if="cargando" src="/resources/defecto/img/ajax_loader_gray_32.gif" />
			</div>

		</div>


	</form>


</div>
</div>