<form role="form" >
		<div class="form-group">
		
		
		<div class="row">
			<label class="col-sm-offset-1 control-label col-sm-2" for="inputNombreDeportista">Nombre:</label>
			<div class="col-sm-9">
				<input id="inputNombreJuez" placeholder="Nombre"
					ng-model="juez.nombre" class="form-control">
			</div>
		</div>

		<div class="row">
			<label class="col-sm-offset-1 control-label col-sm-2" for="inputNombreDeportista">Apellido:</label>
			<div class="col-sm-9">
				<input id="inputApellidoJuez" placeholder="Apellido"
					ng-model="juez.apellido" class="form-control">
			</div>
		</div>
		
		<div class="row">
			<label class="col-sm-offset-1 control-label col-sm-2" for="inputNombreDeportista">Mail:</label>
			<div class="col-sm-9">
				<input id="inputMailJuez" placeholder="Email"
					ng-model="juez.email" class="form-control">
			</div>
		</div>
		
		<div class="row">
		<label class="col-sm-offset-1 control-label col-sm-2" for="inputPassword">Contraseña:</label>
			<div class="col-sm-9">
				<input id="inputPassword"  type="password" placeholder="Contraseña" ng-model="juez.password"
					class="form-control">
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" ng-click="altaJuez()"
					class="btn btn-default">Guardar</button>
			</div>

		</div>
	</div>
		</form>