<!--  <style>

.form-horizontal {
   width:500px;
}

.datetime-picker-dropdown {
  
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
  border: 0;
}

.datetime-picker-dropdown > li.time-picker-menu div > table {
  
}

</style>
-->
<form role="form" >
		<div class="form-group" style="line-height:2em" ng-init="initCalendar()">
	
	<div class="row">
			<label class="col-sm-offset-1 control-label col-sm-3" for="inputEstadio">Estadio:</label>
			<div class="col-sm-8">
				<input id="inputEstadio" placeholder="Estadio"
					ng-model="competencia.estadio" class="form-control">
			</div>
		</div>

		<div class="row">
			<label class="col-sm-offset-1 control-label col-sm-3" for="inputNombreDeportista">Precio Entradas $:</label>
			<div class="col-sm-8">
				<input id="inputPrecioEntradas" placeholder="Precio entradas"
					ng-model="competencia.precioEntrada" class="form-control">
			</div>
		</div>
		
		<div class="row">
			<label class="col-sm-offset-1 control-label col-sm-3" for="inputCantidadEntradas">Cantidad de Entradas:</label>
			<div class="col-sm-8">
				<input id="inputMailJuez" placeholder="Cantidad Entradas"
					ng-model="competencia.cantEntradas" class="form-control">
			</div>
		</div>
		
		
		<div class="row">
		<label class="col-sm-offset-1 control-label col-sm-3" for="inputCantidadEntradas">Fecha:</label>
     	<div class="col-md-3">
				    <div class="form-group">
		            <div class='input-group date' id='datetimepicker1'>
		                <input type='text' class="form-control" />
		                <span class="input-group-addon">
		                    <span class="glyphicon glyphicon-calendar"></span>
		                </span>
		            </div>
		        </div>	 
		        </div> 
		

			
		</div>
		
		
		<div class="row">
	<button type="submit" ng-disabled="habilitarGuardar()" ng-click="guardarCompetencia(competencia.sexo,competencia.estadio,competencia.cantEntradas,competencia.precioEntrada,competencia.fechaInicio,competencia.nombreDeporte,competencia.nombreDisciplina,competencia.ronda,competencia.juez,selection)" class="btn btn-success btn-block">Guardar</button>
		</div>
	</div>
		<div class="row"></form>