<style>

.form-horizontal {
   width:500px;
}

.datetime-picker-dropdown {
  
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
  border: 0;
}

.datetime-picker-dropdown > li.time-picker-menu div > table {
  
}

</style>

<form role="form" >
		<div class="form-group">
	
	<div class="row">
			<label class="col-sm-offset-1 control-label col-sm-2" for="inputEstadio">Estadio:</label>
			<div class="col-sm-9">
				<input id="inputEstadio" placeholder="Estadio"
					ng-model="competencia.estadio" class="form-control">
			</div>
		</div>

		<div class="row">
			<label class="col-sm-offset-1 control-label col-sm-2" for="inputNombreDeportista">Precio Entradas $:</label>
			<div class="col-sm-9">
				<input id="inputPrecioEntradas" placeholder="Precio entradas"
					ng-model="competencia.precioEntrada" class="form-control">
			</div>
		</div>
		
		<div class="row">
			<label class="col-sm-offset-1 control-label col-sm-2" for="inputCantidadEntradas">Cantidad de Entradas:</label>
			<div class="col-sm-9">
				<input id="inputMailJuez" placeholder="Cantidad Entradas"
					ng-model="competencia.cantEntradas" class="form-control">
			</div>
		</div>
		
		
		<div class="row">
<!-- 		<div class="col-md-2"> -->
<!-- 				<pre>Fecha: <em>{{competencia.fechaInicio | date:'fullDate' }}</em></pre> -->
<!-- 		            <p class="input-group"> -->
<!-- 		              <input type="text" class="form-control" datepicker-popup='dd-MMMM-yyyy' ng-model="competencia.fechaInicio" is-open="statusInicio.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"  ng-required="true" close-text="Close" /> -->
<!-- 		              <span class="input-group-btn"> -->
<!-- 		                <button type="button" class="btn btn-default" ng-click="openInicio($eventInicio)"><i class="glyphicon glyphicon-calendar"></i></button> -->
<!-- 		              </span> -->
<!-- 		            </p> -->
<!-- 	       		</div> -->
		
		
        <div class="form-group">
          <label class="col-sm-2 control-label">Both</label>
          <div class="col-sm-10">
            <p class="input-group">
                <input type="text" class="form-control" datetime-picker="MM/dd/yyyy HH:mm" ng-model="ctrl.dates.date3" is-open="ctrl.open.date3" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar($event, 'date3')"><i class="fa fa-calendar"></i></button>
                </span>
            </p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">model</label>
          <div class="col-sm-10">
            <p class="form-control-static">{{ ctrl.dates.date3 }}</p>
          </div>
        </div>
      
			
		</div>
		
		
		<div class="row">
	<button type="submit" ng-click="guardarCompetencia(competencia.sexo,competencia.estadio,competencia.cantEntradas,competencia.precioEntrada,competencia.fechaInicio,competencia.nombreDeporte,competencia.nombreDisciplina,competencia.ronda,competencia.juez,selection)" class="glyphicon glyphicon-circle-arrow-right">
	
	
				Alta Competencia</button>
		</div>
	</div>
		<div class="row"></form>