<div id="PerfilWrapper" class="PerfilWrapper FullHeight">
	
	<div class="PerfilNews FormCustom" style="line-heigth:3em">
	
		<h1>Bienvenido a la configuracion de Widgets!</h1>
		
		<form role="form" >
<!-- 		Facebool	 -->
		<div class="col-md-12" style="background-color:#3b579d;">
		    		<img  src='resources/defecto/img/social/facebanner.jpg' style='height:50px;width:auto;'>	    	
		</div>
		
		<div class="col-md-12" style="margin:5px;padding:1em">
				<label class="control-label col-sm-4" for="input">Nombre del perfil que consumira el widget: </label>
				<div class="col-sm-8">
					<input id="txbNombreFacebook" placeholder="Nombre del perfil" ng-model=widget.nombreFacebook class="form-control">
				</div>
		</div>
		
<!-- 			Twitter              -->

		<div class="col-md-12" style="background-color:#28a9e2;margin:5px">
		    		<img  src='resources/defecto/img/social/Twitterbanner.jpg' style='height:50px;width:auto;'>	    	
		</div>
		<div class="col-md-12" style="margin:5px;padding:1em">
				<label class="control-label col-sm-4" for="input">Ingrese el id de widget generado por twitter : </label>
				<div class="col-sm-8">
					<input id="txbNombreFacebook" placeholder="Id de #Hashtag" ng-model=widget.idHashtag class="form-control">
				</div>
		</div>
			
			
<!-- 			Youtube -->
		<div class="col-md-12" style="background-color:#e62f27;margin:5px">
		    		<img  src='resources/defecto/img/social/youtubewidget.jpg' style='height:50px;width:auto;'>	    	
		</div>
		<div class="col-md-12" style="margin:5px;padding:1em" >
				<label class="control-label col-sm-4" for="input">Ingrese el id de su canal de YouTube: </label>
				<div class="col-sm-8">
					<input id="txbNombreFacebook" placeholder="id de canal" ng-model=widget.channelId class="form-control">
				</div>
		</div>
			
<!-- 		Instagram	 -->
		<div class="col-md-12" style="background-color:#3f6f97;margin:5px">
		    		<img  src='resources/defecto/img/social/instagrambanner.jpg' style='height:50px;width:auto;'>	    	
		</div>
		<div class="col-md-12" style="margin:5px;padding:1em">
				<label class="control-label col-sm-4" for="input">#Hashtag del cual consumira las imagenes:  </label>
				<div class="col-sm-8">
					<input id="txbNombreFacebook" placeholder="#Hashtag" ng-model=widget.hashtagInstaram class="form-control">
				</div>
		</div>
			
			<button type="submit"  ui-sref="formEdicionEvento.Paso1" class="btn btn-primary glyphicon glyphicon-chevron-left"></button>
			
			<button type="submit"  ui-sref="formEdicionEvento.Paso3" class="btn btn-primary col-md-offset-11 glyphicon glyphicon-chevron-right"></button>
				
		</form>	
	</div>
</div>
