<div id="PerfilWrapper" class="PerfilWrapper FullHeight">
	
	<div class="PerfilNews FormCustom" style="line-height:2em!important">
		<form role="form" >
	
		
			<h1>Asignacion de Fotos</h1>
						
				<div class="col-sm-12 row" style="margin-bottom:1em;">
					<div class="col-sm-6">
						<div class="col-md-12" >
							<p style="word-break: keep-all;" >Seleccione la foto que ira en el banner</p>
						</div>
						<div class="col-md-12" >
							<input class="btn " id="fileBanner" name="fileBanner" type="file" file-model="fotoBanner"/>
						</div>
					</div>	
					<div class="col-sm-6">		
						<img id="fotofileBanner" src="#" alt="your image" width="100%" height="auto" />
					</div>
				</div>		
					
				<div class="col-sm-12  row" style="margin-bottom:1em; ">	
					<div class="col-sm-6 ">
						<div class="col-md-12" >
						
							<p style="word-break: keep-all;">Seleccione la foto que sera el fondo de la pagina</p>	
						</div>
						<div class="col-md-12" >
							<input class="btn " id="fileFondo" name="fileFondo" type="file" file-model="fotoFondo"/>
						</div>
					</div>
					<div class="col-sm-6">		
						<img id="fotofileFondo" src="#" alt="your image"  width="100%" height="auto" />
					</div>			
				</div>	
				
				<div class="col-sm-12  row" style="margin-bottom:1em; ">	
					<div class="col-sm-6">
						<div class="col-md-12" >
							<p style="word-break: keep-all;">Seleccione la foto que ira de Logo</p>	
						</div>
						<div class="col-md-12" >
							<input class="btn " id="filePagina" name="filePagina" type="file" file-model="fotoLogo"/>
						</div>
					</div>
					<div class="col-sm-6">		
						<img id="fotofilePagina" src="#" alt="your image" width="100%" height="auto" />
					</div>	
				</div>	
				
				
				
				<button type="submit"  ng-click="subirImagen()" class="btn btn-success col-md-offset-10">Aceptar</button>
				
		<!-- 		<button type="submit" ng-click="guardarCompetencia()" class="glyphicon glyphicon-circle-arrow-right">	 -->
			
	
			</form>
	</div>
</div>