<div id="PerfilWrapper" class="PerfilWrapper FullHeight">
	
	<div class="PerfilNews FormCustom">
	
	<div class="FormCustom">
		
		<form role="form" name="formDeportista">
	<div class="jumbotron text-center RoundedTop jumpbotrongb">
	    <h1>Nuevo Deportista</h1>   
	</div>
	
			<div class="form-group">
			
			
			<div class="row">
				<div ng-show="mensajeValidacion" class="alert alert-danger">{{mensajeValidacion}}</div>
			</div>
	
			<div class="row">
				<label class="col-sm-offset-1 control-label col-sm-2" for="inputNombreDeportista">Nombre:</label>
				<div class="col-sm-9">
					<input id="inputNombreDeportista" placeholder="Nombre"
						ng-model="deportista.nombre" class="form-control">
				</div>
			</div>
			
			<div class="row">
				<label class="col-sm-offset-1 control-label col-sm-2" for="inputApellido">Apellido:</label>
				<div class="col-sm-9">
					<input id="inputApellido" placeholder="Apellido"
						ng-model="deportista.apellido" class="form-control">
				</div>
			</div>
			<div class="row">
				<label class="col-sm-offset-1 control-label col-sm-2" for="inputApellido">Fecha Nacimiento:</label>	
				<div class="control-label col-sm-3">
					<div class="form-group">
		            <div class='input-group date' id='datetimepicker1'>
		                <input type='text' class="form-control" />
		                <span class="input-group-addon">
		                    <span class="glyphicon glyphicon-calendar"></span>
		                </span>
		            </div>
		        </div>
					<br>
				</div>
			</div>
			
			<div class="row">
				<label class="col-sm-offset-1 control-label col-sm-2" for="singleSelect">
					Sexo: </label>
				<div class="control-label col-sm-2">
					<label>
						<input type="radio" ng-model="deportista.sexo" ng-change="obtenerDeportes(deportista.sexo)" value="Masculino"> Masculino
					</label> 
					<label> 
						<input type="radio" ng-model="deportista.sexo" ng-change="obtenerDeportes(deportista.sexo)" value="Femenino"> Femenino
					</label><br>
				</div>
			</div>
			
			<div class="row">
			<label class="col-sm-offset-1 control-label col-sm-2" for="singleSelect">
					Deporte:    </label>
					<div class="control-label col-sm-2">
			   <select data-ng-model="selectDeportes" ng-options="d as d for d in deportes" ng-change="obtenerDisciplina(deportista.sexo, selectDeportes)"></select>
			   		</div>
			</div>
			
			<div class="row">
				<label class="col-sm-offset-1 control-label col-sm-2" for="singleSelect">
						Disciplina:</label>
				<div class="control-label col-sm-2">
			  	 
				 <label class="repeat-animation" ng-repeat="nombreDis in disciplinas">
					  <input
					    type="checkbox"
					    name="selectDisciplinas[]"
					    value="{{nombreDis}}"
					    ng-checked="selection.indexOf(nombreDis) > -1"
					    ng-click="toggleSelection(nombreDis)"
					  > {{nombreDis}}
					</label>				  	 		  	 
	   			</div>
			</div>
			
			<div class="row">
				<div class="col-sm-offset-3 col-sm-2">
					<input id="file" name="file" type="file" file-model="myFile"/>
				</div>	
			</div>
			
			<div class="row">
				<div class="col-sm-offset-10 col-sm-4">
					<button type="submit" ng-click="altaDeportista(selectDeportes,selection)" class="btn btn-success">Guardar</button>
				</div>
	
			</div>
			
		</div>
	</form>
		
	</div>
</div>
	</div>
	

<!-- <div class="container"> -->
	
<!-- 	<div class="row"> -->
<!-- 		<div ng-show="mensajeValidacion" class="alert alert-danger">{{mensajeValidacion}}</div> -->
<!-- 	</div> -->
	
	
<!-- </div> -->
	
	