<div id="PerfilWrapper" class="PerfilWrapper FullHeight">
	
	<div class="PerfilNews FormCustom">
	
	<div class="jumbotron text-center RoundedTop">
	    <h1>Nueva Novedad</h1>   
	</div>
	
	<form role="form" name="formNovedad">

		<div class="form-group">
					
			<div class="row">
				<label class="col-sm-offset-1 control-label col-sm-2" for="titulo">T&iacutetulo :</label>
				<div class="col-sm-9">
					<input type="text" id="titulo" placeholder="Mi T&iacute;tulo" ng-model="novedad.titulo"
						class="form-control" required>
				</div>
			</div>
			
			<div class="row">
				<label class="col-sm-offset-1 control-label col-sm-2" for="descripcion">Descripci&oacuten:</label>
				<div class="col-sm-9">
					<textarea id="descripcion" ng-model="novedad.descripcion" rows="10" cols="30" placeholder="Descripci&oacute;n" class="form-control" required></textarea>
				</div>
			</div>
			
			<div class="row">
				<label class="col-sm-offset-1 control-label col-sm-2" for="columna">Columna:</label>
				<div class="col-sm-1">
				 	<select id="selectColumna" name="selectColumna" ng-model="dataColumna.selectedOption" 
				 	 	ng-options="valor.valor for valor in dataColumna.valores track by valor.id"
				 		class="form-control" convert-to-number required>
				    </select>
				</div>
			</div>	
			
			<div class="row">
			<label class="col-sm-offset-1 control-label col-sm-2" for="columna">Seleccione la imagen: </label>
				<div class="col-sm-9">
					<input id="file" name="file" type="file" file-model="myFile"/>
				</div>				
			</div>
			
			<div class="row">
	            <div class="col-sm-offset-10 col-sm-4">
	           		<a ui-sref="main({ tenant: nombreTenant })" class="btn btn-danger">Cancelar</a>
					<button type="submit" ng-disabled="deshabilitarFormNovedad()" ng-click="altaNovedad()" class="btn btn-success">Aceptar</button>
	            	<img ng-if="cargando" src="/resources/defecto/img/ajax_loader_gray_32.gif" />
	            	
	        	</div>
			</div>
			
		</div>

	</form>
	</div>
</div>
<style>
	textarea { resize:vertical ; }
</style>

