<div class="container">

	<div class="jumbotron text-center">
	    <h1>Alta novedad</h1>   
	</div>
	
	<div class="row">
		<div ng-show="mensajeValidacion" class="alert alert-danger">{{mensajeValidacion}}</div>
	</div>
	
	<form role="form" name="formNovedad">

		<div class="form-group">

			<div class="row">
				<label class="control-label col-sm-2" for="email">T&iacutetulo :</label>
				<div class="col-sm-10">
					<input type="text" id="titulo" placeholder="Mi T&iacute;tulo" ng-model="novedad.titulo"
						class="form-control" required>
				</div>
			</div>
			
			<div class="row">
				<label class="control-label col-sm-2" for="contrasenia">Descripci&oacuten:</label>
				<div class="col-sm-10">
					<input type="text" id="descripcion" placeholder="Descripci&oacute;n"
						ng-model="novedad.descripcion" class="form-control" required>
				</div>
			</div>
			
				
			<div class="row">
	            <div class="col-sm-offset-2 col-sm-8">
					<button type="submit" ng-disabled="formRegistro.$invalid" ng-click="altaNovedad()" class="btn btn-default">Aceptar</button>
	            	<img ng-if="cargando" src="/resources/defecto/img/ajax_loader_gray_32.gif" />
	            	<a ui-sref="main({ tenant: nombreTenant })" class="btn btn-link">Inicio</a>
	        	</div>
			</div>
			
		</div>

	</form>



</div>