<style>
.full button span {
	background-color: limegreen;
	border-radius: 32px;
	color: black;
}

.partially button span {
	background-color: orange;
	border-radius: 32px;
	color: black;
}
</style>
<div id="PerfilWrapper" class="PerfilWrapper">
	
	<div class="PerfilNews FormCustom">

	<div class="page-header text-center">
		<!-- the links to our nested states using relative paths -->
		<!-- add the active class if the state matches our ui-sref -->
		<div id="status-buttons" class="text-center">
		
<!-- 			<a ui-sref-active="active" ui-sref=".Paso1">Primer Paso</a>  -->
<!-- 			<a ui-sref-active="active" ui-sref=".Paso2">Segundo Paso</a>  -->
<!-- 			<a ui-sref-active="active" ui-sref=".Paso3">Tercer Paso</a>  -->
			
			<a ui-sref-active="active" class="coolbtn" ui-sref=".Paso1"><img src="resources/defecto/img/1.png"/></a> 
			<a ui-sref-active="active" class="coolbtn" ui-sref=".Paso2"><img src="resources/defecto/img/2.png"/></a> 
			<a ui-sref-active="active" class="coolbtn" ui-sref=".Paso3"><img src="resources/defecto/img/3.png"/></a> 
			
			
		</div>
	</div>
	<form id="signup-form" role="form">
		<!-- our nested state views will be injected here -->
		<div id="form-views" ui-view class="FormCustom" style="line-height: 2em!important"></div>
	
	</form>
</div>
</div>