<style>
	
	.contenedor-titulo{
		padding-left:5%;
		margin-top:5%;
		height:5%;
	}
	
	.titulo-evento{
		font-family:Aldrich;
		font-size:100px;
	}
	
	.item-reporte{
		text-align: center;		
	}
	.item-reporte:hover img{
	transition: transform 1s ease;
	transform: scale(1.2);
	}
		
	.imagen-comite{
		width:25%;
		height:25%;
	}
	
</style>


<div class="PerfilNews FormCustom "	style="display: inline-block; margin-left: 10%; width: 80%; margin-right: 10%;"	ng-init="cargarDatos()">
<div class="FormCustom">
	<div class="jumbotron text-center RoundedTop jumpbotrongb">
	    <h1>Deportes</h1>   
	</div>	

	<div class="col-sm-12 ">
		<div ng-repeat="d in nombreDeportes">
			<div class="col-sm-3 item-reporte" id="{{d}}">
				<a ng-click="irPerfilEventoDeportivo(d)" style="text-decoration:none!important">
					<div>
						<h3 class="customFont" >{{d}}</h3>
						<!-- 				<img class="imagen-eventoDeportivo" alt="no-image" ng-src="{{d.foto.ruta}}"> -->
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
</div>

