<div id="PerfilWrapper" class="PerfilWrapper FullHeight">
	
	<div class=" FormCustom" style="margin-left: 10%;margin-right: 10%;">
	
	
	
	<form role="form" name="formDeportista">
	<div class="jumbotron text-center RoundedTop jumpbotrongb">
	    <h1>Deportistas</h1>   
	</div>	
			<div class="form-group">
			
		
			
			<div class="row">
				<label class="col-md-1"  >Nombre:</label>
				<div class="col-sm-5">
					<input id="inputNombreDeportista" placeholder="Nombre" ng-model="deportista.nombre" class="form-control">
				</div>
				
				<label class="col-md-1" for="inputDeportes">Deportes:</label>
				<div class="col-sm-2">
		   			<select class="form-control" data-ng-model="selectDeportes" ng-options="d as d for d in deportes"></select>
		   		</div>
				
				<label class="col-md-1" for="inputPaises">Paises:</label>
				<div class="col-sm-2">
		   			<select class="form-control" data-ng-model="selectPaises" ng-options="p as p for p in paises"></select>
		   		</div>
			</div>			
				
		<div class="row">
				
		<label class="control-label col-sm-1" for="singleSelect">
					Sexo: 
				</label>
				<div class="control-label col-sm-5" style="display: inline-block;">
					<label>
						<input type="radio" ng-model="deportista.sexo" ng-change="obtenerDeportes(deportista.sexo)" value="Masculino"> Masculino
					</label> 
					<label> 
						<input type="radio" ng-model="deportista.sexo" ng-change="obtenerDeportes(deportista.sexo)" value="Femenino"> Femenino
					</label><br>
				</div>
		</div>
			
			<div class="row">
				<div class="col-sm-offset-10 col-sm-2 ">
					<button type="submit" ng-click="buscarDesportistas()" class="btn btn-info glyphicon glyphicon-search"></button>
				</div>
	
			</div>
			
		</div>
	</form>
	



	


	
	
	</div>

</div>

	<div class="" style="margin-left: 10%;margin-right: 10%; width: 80%;" id="form-views" ui-view></div>


	