<div id="PerfilWrapper" class="PerfilWrapper FullHeight">
	
	<div class="PerfilNews FormCustom">
	
	
	
	<form role="form" name="formDeportista">
	<div class="jumbotron text-center RoundedTop">
	    <h1>Deportistas</h1>   
	</div>
	
			<div class="form-group">
			
			<div class="row">
				<label class="col-sm-offset-1 control-label col-sm-2" for="singleSelect">
					Sexo: </label>
				<div class="control-label col-sm-2">
					<label>
						<input type="radio" ng-model="deportista.sexo" ng-change="obtenerDeportes(deportista.sexo)" value="Masculino"> Masculino
					</label> 
					<label> 
						<input type="radio" ng-model="deportista.sexo" ng-change="obtenerDeportes(deportista.sexo)" value="Femenino"> Femenino
					</label><br>
				</div>
			</div>
			
			<div class="row">
				
				<div class="span4">
					<label  for="inputDeportista">Nombre:</label>
				
					<input id="inputNombreDeportista" placeholder="Nombre" ng-model="deportista.nombre" class="form-control">
					
				</div>
				<div class="span4">
					<label  for="inputDeportes">Deportes:</label>
					
			   		<select data-ng-model="selectDeportes" ng-options="d as d for d in deportes"></select>
			   		
				</div>
				<div class="span4">
					<label  for="inputPaises">Paises:</label>
					
			   		<select data-ng-model="selectPaises" ng-options="p as p for p in paises"></select>
			   		
				</div>
				
				<div class="span4">
					<label  for="inputDisciplina">Disciplinas:</label>
					
			   		<select data-ng-model="selectDisciplina" ng-options="di as di for di in disciplina"></select>
			   		
				</div>
				
				
				
				
			</div>

			
			<div class="row">
				<div class="col-sm-offset-10 col-sm-4">
					<button type="submit" ng-click="buscarDesportistas()" class="btn btn-success">Buscar</button>
				</div>
	
			</div>
			
		</div>
	</form>
	

	
	
	</div>
</div>


<div class="container">

	<div id="form-views" ui-view></div>

</div>


	