<style>

@media only screen and (min-height: 850px) and (max-height: 1080px){

	.novedades{
	
	height:300px!important;
	
	}
}
@media only screen and (min-height: 0px) and (max-height: 849px){

	.novedades{
	
	height:200px!important;
	
	}
}



</style>
<div id="PerfilWrapper" class="PerfilWrapper FullHeight" >

	<div id="imgBanner" class="HeaderPerfilEvento">
			
			
			
	</div>
	
	<div class="PerfilNews">
	
		<div  style="background-color: #e7e7e7; padding:0px;float:right;width:100%;">
			
			  <button class="iconBtn twitter btn" style="float:right" id="TwitterWidgetBtn"></button>
			  <button class="iconBtn facebook btn" style="float:right" id="FacebookWidgetBtn"></button>
			  <button class="iconBtn youtube btn" style="float:right" id="YoutubeWidgetBtn"></button>
			
		</div>
		
	    <div class="col-md-8 newsWrapper" style="float: left;" id="newsWrapper">
		    <div ng-repeat="n in noticias"   >
				 
				
				 <div ng-init="column()" class='col-md-6  col-xs-12' style="float:left;"> 
					 <div class='thumbnail novedades' style="width: 100%">
						 <img class='reloadimg' ng-src="{{n.imagen.ruta.substr(n.imagen.ruta.indexOf('resources'))}}" alt='...' style="height: 75%" height="auto"  width="auto">
						 <div class='caption' style="height: 25%!important;text-align: center">
						 	<a ng-click="redirectNoticia(n)"><span style="font-weight: bold;">{{n.titulo}}</span></a>
						 </div>
					 </div>
				 </div>
			</div>
	    </div>
	    
	    <div class="col-md-4 col-xs-12" style="float:right; "  id="SocialMedia" >

	    
	    	<div class="col-md-12"  id="FacebookWidget">
	    		  
				  <div id="facebookWidget" class="fb-page col-md-12 " data-href="" data-height="900" data-width="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
				  	<div class="fb-xfbml-parse-ignore">

				   </div>
				  </div>
	    	
	    	</div>
	    	
	    	<div class="col-md-12 "  id="TwitterWidget">
	    	 	<a id="WidgetTwitter" class="twitter-timeline" href="" data-widget-id="">Tweets sobre {{Hastag}}</a>
	    	</div>
	    	
	    	<div id="youtubeContainer" style="width:100%; border-style: solid;border-width: 1px;border-color:#e62f27;padding:0px!important;background-color: #f8f8f8;">
		    	<div class="" style="background-color:#e62f27;">
		    		<img  src='resources/defecto/img/social/youtubewidget.jpg' style='height:50px;width:auto;'>	    	
		    	</div>
			</div>
			
	    	
	    
	    </div>
	    

		</div>
	    
	
		
	</div>