<style>
	.imagen-comite {
		width : 5%;
	}
	
	.imagen-medalla{
		width : 30%;
	}
	
	.centrado { 
		text-align:center;
	}
	
</style>


<div id="PerfilWrapper" class="PerfilWrapper FullHeight" ng-init="cargarDatos()">
	
	<div class=" FormCustom" style="margin-left: 10%;margin-right: 10%;">

		<div class="jumbotron text-center RoundedTop jumpbotrongb">
		    <h1>Medallero</h1>   
		</div>	
			
	
	<table st-table="rowCollection" class="table table-striped">
		<thead>
		<tr>
			<th class="centrado">Posicion</th>
			<th>Delegaci&#243;n</th>
			<th class="centrado">
			<img class="imagen-medalla" ng-src="resources/defecto/img/oro.png" alt="Oro"> 
			</th>
			<th class="centrado">
			<img class="imagen-medalla" ng-src="resources/defecto/img/plata.png" alt="Plata"> 
			</th>
			<th class="centrado">
			<img class="imagen-medalla" ng-src="resources/defecto/img/bronce.png" alt="Bronce"> 
			</th>
			<th class="centrado">Total</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="medalla in medallas">
			<td class="centrado">{{medalla.posicion}}</td>
			<td>
				<a ng-click="irPerfilComite(medalla.comiteID)">
					<img class="imagen-comite" ng-src="{{medalla.foto}}" alt="no-image"> {{medalla.pais}}
				</a>
			</td>
			<td class="centrado">{{medalla.oro}}</td>
			<td class="centrado">{{medalla.plata}}</td>
			<td class="centrado">{{medalla.bronce}}</td>
			<td class="centrado"><b>{{medalla.total}}</b></td>
		</tr>
		</tbody>
	</table>



	


	
	
	</div>

</div>
	