

   
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
<!--  <head> -->
<!--     <meta property="og:url"           content="https://sgem-eventos.com:8443/#/{{nombreTenant}}/Novedad/{{idnovedad}}" /> -->
<!--     <meta property="og:type"          content="website" /> -->
<!--     <meta property="og:title"         content="{{n.titulo}}" /> -->
<!--     <meta property="og:description"   content="{{n.descripcion}}" /> -->

<!--     </head> -->

<div id="PerfilWrapper" class="PerfilWrapper FullHeight">
	
	<div class="PerfilNews FormCustom" style="overflow-y:auto;">
	
	<div class=" FormCustom">
	
	
		<div ng-hide="!existeNovedad()" class='col-sm-5 col-md-12'> 
		
			 <div class='col-sm-5 col-md-6 col-sm-offset-3'> 
				 <img class='reloadimg' ng-src="{{n.imagen.ruta.substr(n.imagen.ruta.indexOf('resources'))}}" alt='...' style='width:100%!important'>
			 </div>
				 <div class='col-md-12'>
				 
				 	<h1>{{n.titulo}}</h1>
				 	
				 	<p style="word-wrap: break-word;line-height:15px;">
    					{{n.descripcion}}
    				</p>
				 	
				 </div>
			 <div class="fb-share-button" data-href="https://sgem-eventos.com:8443/#/{{nombreTenant}}/Novedad/{{idnovedad}}" data-layout="button"></div>
		</div>
		<div ng-hide="existeNovedad()" class='col-sm-5 col-md-12'> 
			<h1>No existe la novedad a la que intenta acceder!</h1>
		
		</div>
		</div>
		<div class="col-md-12" style="background-color: white;border-radius:25px;text-align: center;opacity:0.97;">
			<div  class="fb-comments " data-href="https://sgem-eventos.com:8443/#/{{nombreTenant}}/Novedad/{{idnovedad}}" data-width="500" data-numposts="5" ng-init=loadwidget()>
		
		
			</div>
			<div id="fb-root"></div>
		</div>
		
	</div>
	
</div>