<style>
	
	.contenedor-titulo{
		padding-left:5%;
		/*margin-top:5%;*/
		height:5%;
	}
	
	.titulo-evento{
		font-family:Aldrich;
		font-size:100px;
	}
	
	.item-reporte{
		text-align: center;		
	}
		
	.imagen-deportista{
		width:25%;
		height:25%;
	}
	
</style>

<div class="FormCustom" style="margin-left: 10%;   margin-right: 10%;float:left;min-width: 80%" ng-init="cargarDatos()">

		<div class="row">
			<div ng-show="mensajeValidacion" class="alert alert-danger">{{mensajeValidacion}}</div>
		</div>
	
		<div class="HeaderPerfil" style="float:left;width:100%;" >
			<div class="col-md-3 ImagenPerfil"> 
				<img ng-src="{{rutaLogo}}" alt="no-image" style="width:100%;max-height:100%;border-radius: 10px 10px 10px 10px;-moz-border-radius: 10px 10px 10px 10px;-webkit-border-radius: 10px 10px 10px 10px;border: 7px outset #cfcfcf;" />
							</div>
			<div class="col-md-9 contenedor-titulo">
				<div class="jumbotron text-center RoundedTop jumpbotrongb">
				    <h1>{{comite.pais.pais}}</h1>   
				</div>	
				<span class="titulo-evento" ></span>
				
			</div>
			<div class="col-md-9 contenedor-titulo">
				<form style="" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="return" value="https://sgem-eventos.com:8443/#/{{tenant}}/exitoPaypal">
				<input type="hidden" name="hosted_button_id" value="{{comite.paypal}}">
				<input type="image" src="https://www.sandbox.paypal.com/es_ES/ES/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
				
			</div>
				
		</div>
		<div class="col-md-12" style="min-height: 70%">
		
		
	    
		<div class="col-sm-12">
			<h1>Deportistas</h1>
			
		<div ng-repeat="d in deportistas">
		<a ng-click="deportistaSeleccionado(d)">
	        <div class="col-sm-4 item-reporte" id="{{d.deportistaID}}">
	        
	       		<div>
            		<h3>{{d.nombre}} {{d.apellido}}</h3>
            	
            		<img class="imagen-deportista" alt="no-image" ng-src="{{d.foto.ruta}}">
           	 	</div>
            	 </a>
	            <hr /> 
	        </div>
	    </div>
		
		</div>
		
		<div class="col-md-8 newsWrapper" style="" id="newsWrapper">
	        <div ng-repeat="n in novedades"  >			
				 <div ng-class-odd="'col-md-8'" ng-class-even="'col-md-4'" > 
					 <div class='thumbnail'>
						 <img class='reloadimg' ng-src="{{n.imagen.ruta.substr(n.imagen.ruta.indexOf('resources'))}}" alt='...' style='height:400px!important'>
						 <div class='caption'>
						 	<h3>{{n.titulo}}</h3>
						 	
						 	<p><a ng-click="redirectNoticia(n)" class='btn-info btn glyphicon glyphicon-search' role='button'></a></p>
						 </div>
					 </div>
				 </div>
			</div>
	    </div>
		
		
		</div>
					    
					   		    
			    
	    
		
</div>
