<div ng-init="listarResultados()">
		
		
		<!-- Se muestran los resultados en caso de ser un deporte individual -->
		<div ng-if="estadisticas.length > 0 && competencia.tipoDeporte == 'individual'">
		<div ng-repeat="e in estadisticas">
		 
	        <div class="" id="{{e.resultadoId}}">
	         
	        
	       		<div class="">
	       		    <img class="imagen-comite" alt="no-image" ng-src="{{e.deportista.foto.ruta}}">
            		<h3>{{e.deportista.nombre}} {{e.deportista.apellido}}</h3>
            	</div>
            	
            	
            	<div class="">
            		<label>Posicion:</label>		N&#186; {{e.posicion}}
           	 	</div>
            	
            	<div class="">
            		<label>Dato Informativo:</label>	 {{e.datoInformativo}}
           	 	</div>
				
	            <div ng-if="c.finalizada == true" class="row" >
	            	<div class="col-sm-offset-8 col-sm-2">
			            <a ng-click="setCompetenciaSeleccionada(c.idCompetencia)" ui-sref="perfilDisciplina.paso2" class="btn btn-block btn-info">
			            	Ver mas 
			            	<span class="glyphicon glyphicon-circle-arrow-right"></span>
						</a>
					</div>
				</div>
					
	            <hr />
	        </div> 
	    </div>
	</div>
	
	
	
	
			<!-- Se muestran los resultados en caso de ser un deporte individual -->
		<div ng-if="paisesTodos.length > 0 && competencia.tipoDeporte == 'colectivo'">
		<div ng-repeat="p in paisesTodos">
		 
	        <div class="row" id="{p.id}}">
	        
	       		<div class="row">	       		   
	       		   	<h3>{{p.nombre}}</h3>
            	</div>
				
				<div class="row">
            		<label>Posicion:</label>		N&#186; {{p.estadistica.posicion}}
           	 	</div>
            	
            	<div class="row">
            		<label>Dato Informativo:</label>	 {{p.estadistica.datoInformativo}}
           	 	</div>
				
				
	            <div ng-if="c.finalizada == true" class="row" >
	            	<div class="col-sm-offset-8 col-sm-2">
			            <a ng-click="setCompetenciaSeleccionada(c.idCompetencia)" ui-sref="perfilDisciplina.paso2" class="btn btn-block btn-info">
			            	Ver mas 
			            	<span class="glyphicon glyphicon-circle-arrow-right"></span>
						</a>
					</div>
				</div>
					
	            <hr />
	        </div> 
	    </div>
	</div>
	
	
	
  	<div class="col-sm-2">
            <a class="btn btn-block btn-info" ui-sref="perfilDisciplina.paso1"> 
	            <span class="glyphicon glyphicon-circle-arrow-left"></span>
	            Atr&aacute;s
            </a>
	</div>
</div>
