<style>
	
	.contenedor-titulo{
		padding-left:5%;
		margin-top:5%;
		height:5%;
	}
	
	.titulo-evento{
		font-family:Aldrich;
		font-size:100px;
	}
	
	.item-reporte{
		text-align: center;		
	}
		
	.imagen-comite{
		width:25%;
		height:25%;
	}
	
</style>

<div class="PerfilNews FullHeight" ng-init="cargarDatos()">

		<div class="row">
			<div ng-show="mensajeValidacion" class="alert alert-danger">{{mensajeValidacion}}</div>
		</div>
	
		<div class="HeaderPerfil">
			<div class="col-md-3 ImagenPerfil"> 
				<img ng-src="{{rutaLogo}}" alt="no-image" style="width:100%;max-height:100%;" />
			</div>
			<div class="col-md-9 contenedor-titulo">
				<span class="titulo-evento" ng-bind="nombreTenant"></span>
			</div>
<!-- 			<div class="col-md-9 FullHeight" style="padding: 0px !important;"> -->
<!-- 				<div class="col-md-12 TituloPerfil"> -->
<!-- 				<h1>{{nombreTenant}}</h1> -->
<!-- 				</div> -->
				
<!-- 				<div class="col-md-12 bannerPerfil" ></div> -->
<!-- 			</div> -->

				
		</div>
		<hr>
		
		<div id="map-canvas" style="border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 7.5px double #000000;"></div>
		
		<div class="col-sm-12" style="margin-top:45%">
			<h1>Delegaciones</h1>
			
			<div ng-repeat="co in comitesOlimpicos">
			        <div class="col-sm-4 item-reporte" id="{{co.comiteId}}">
			        
			       		<div>
		            		<h3>{{co.codigo}}</h3>
		            	
		            		<img class="imagen-comite" alt="no-image" ng-src="{{co.logo.ruta}}">
	            	 	</div>
		            	 
<!-- 			            <hr /> -->
			        </div>
			    </div>
		
		</div>
		
		<div class="col-sm-12">
			<h1>Deportes</h1>
			
			<div ng-repeat="d in deportes">
			        <div class="col-sm-4 item-reporte" id="{{d.nombreDeporte}}">
			        
			       		<div class="row">
		            		<h5>{{d}}</h5>
		            	</div>	
			        </div>
			    </div>
		
		</div>
		
</div>
