<style>
	
	.contenedor-titulo{
/* 		padding-left:5%; */
		margin-top:5%;
		height:5%;
	}
	
	.titulo-evento{
		font-family:Aldrich;
		font-size:100px;
	}
	
	.item-reporte{
		text-align: center;		
	}
		
	.imagen-eventoDeportivo{
		width:25%;
		height:25%;
	}
   
   .imagen-deportista{
		width:50%;
		height:50%;
	}
	
	
</style>

<div class="PerfilNews"  ng-init="cargarDatos()">

	<div class="row">
		<div ng-show="mensajeValidacion" class="alert alert-danger">{{mensajeValidacion}}</div>
	</div>
	
	
	<div>
<!-- 		<div class="col-md-3 ImagenPerfil">  -->
<!-- 			<img ng-src="{{rutaFoto}}" alt="no-image" style="width:100%;max-height:100%;" /> -->
<!-- 		</div> -->
		
		<div class="col-md-12 contenedor-titulo" style="text-align: center;">
			<span class="titulo-evento" ng-bind="nombreDeporte"></span>
		</div>				
		
	</div>
		

	<div class="col-sm-12 FormCustom">
			
		<div class="col-sm-12">
			<h1>Disciplinas</h1>
			
			<div ng-if="deportesMasculinos.length > 0" class="col-sm-12">
			<h3>Masculino</h3>	
				<div ng-repeat="d in deportesMasculinos">
					<div class="col-sm-4 item-reporte" id="{{d.nombreDisciplina}}">
						<a ng-click="irDisciplina(d.nombreDisciplina,d.sexo)">
				       		<div>
				           		<h3>{{d.nombreDisciplina}}</h3>								            	
		<!-- 			           		<img class="imagen-comite" alt="no-image" ng-src="{{co.logo.ruta}}"> -->
				       	 	</div>
						</a>
					</div>
				</div>
			</div>
			<hr>
			<div ng-if="deportesFemeninos.length > 0" class="col-sm-12">
			<h3>Femenino</h3>
				<div ng-repeat="d in deportesFemeninos">
					<div class="col-sm-4 item-reporte" id="{{d.nombreDisciplina}}">
						<a ng-click="irDisciplina(d.nombreDisciplina,d.sexo)">
				       		<div>
				           		<h3>{{d.nombreDisciplina}}</h3>								            	
		<!-- 			           		<img class="imagen-comite" alt="no-image" ng-src="{{co.logo.ruta}}"> -->
				       	 	</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-12">
			<h1>Deportistas</h1>
					
			<div ng-repeat="d in deportistas">
		<a ng-click="deportistaSeleccionado(d)">
	        <div class="col-sm-4 item-reporte" id="{{d.deportistaID}}">
	        
	       		<div>
            		<h3>{{d.nombre}} {{d.apellido}}</h3>
            	
            		<img class="imagen-deportista" alt="no-image" ng-src="{{d.foto.ruta}}">
           	 	</div>
            	 </a>
	            <hr /> 
	        </div>
						
			</div>			
		</div>
		
</div>
