<style>
	
	.contenedor-titulo{
		margin-top:5%;
		height:5%;
	}
	
	.titulo-evento{
		font-family:Aldrich;
		font-size:100px;
	}

</style>

<div id="PerfilWrapper" class="PerfilWrapper FullHeight">
	


<div class="PerfilNews FormCustom" style="line-height: 2em;float: left;width: 80%;">

		<div class="row">
			<div ng-show="mensajeValidacion" class="alert alert-danger">{{mensajeValidacion}}</div>
		</div>
				
		<div>					
			<div class="col-md-12 contenedor-titulo" style="text-align:center;">				
				<span class="titulo-evento" ng-bind="nombreDisciplina"></span>
				<div> 
					<img ng-src="{{disciplina.foto}}" alt="no-image" style="width:15%;max-height:15%;" />
				</div>	
			</div>			
		</div>
	
		<div class="col-sm-12 " style="text-align:center">
			Del <span style="font-weight:bold">{{disciplina.fechaInicio  | date:'dd'}} de {{disciplina.fechaInicio  | date:'MMMM'}} de {{disciplina.fechaInicio  | date:'yyyy'}}</span> al <span style="font-weight:bold">{{disciplina.fechaFin  | date:'dd'}} de {{disciplina.fechaFin  | date:'MMMM'}} de {{disciplina.fechaFin  | date:'yyyy'}}</span> 
		</div>
		
		<form id="perfilDisciplina" role="form" style="float:left;width: 100% " name="perfilDisciplina">
			<div id="form-views" class="FormCustom" style="line-height: 2em;" ui-view></div>
		</form>
	
	</div>
</div>
