<style>
	
	.contenedor-titulo{
		padding-left:5%;
		margin-top:5%;
		height:5%;
	}
	
	.titulo-evento{
		font-family:Aldrich;
		font-size:100px;
	}
	
	.item-reporte{
		text-align: center;		
	}
		

	
</style>

<div class="PerfilNews FullHeight" ng-init="cargarDatos()">

		<div class="row">
			<div ng-show="mensajeValidacion" class="alert alert-danger">{{mensajeValidacion}}</div>
		</div>
	
		<div class="HeaderPerfil">
			<div class="col-md-3 ImagenPerfil"> 
				<img ng-src="{{rutaLogo}}" alt="no-image" style="width:100%;max-height:100%;" />
			</div>
			<div class="col-md-9 contenedor-titulo">
				<span class="titulo-evento" ng-bind="comite.codigo"></span>
			</div>
				
		</div>
		<hr>
				
		<div class="col-sm-12" style="margin-top:45%">
			<h1>Deportistas</h1>
			
<!-- 			<div ng-repeat="co in comitesOlimpicos"> -->
<!-- 			        <div class="col-sm-4 item-reporte" id="{{co.comiteId}}"> -->
			        
<!-- 			       		<div> -->
<!-- 		            		<h3>{{co.pais.pais}}</h3> -->
		            	
<!-- 		            		<img class="imagen-comite" alt="no-image" ng-src="{{co.logo.ruta}}"> -->
<!-- 	            	 	</div> -->
		            	 
<!-- 			            <hr /> --> 
<!-- 			        </div> -->
<!-- 			    </div> -->
		
		</div>
		
		<div class="col-md-8 newsWrapper" style="" id="newsWrapper">
	    
	   
	    
	    <div ng-repeat="n in novedades"  >			
			 <div class='col-sm-5 col-md-{{column(n.columna)}}'> 
				 <div class='thumbnail'>
					 <img class='reloadimg' ng-src="{{n.imagen.ruta.substr(n.imagen.ruta.indexOf('resources'))}}" alt='...' style='height:400px!important'>
					 <div class='caption'>
					 	<h3>{{n.titulo}}</h3>
					 	
					 	<p><a ng-click="redirectNoticia(n)" class='btn btn-primary' role='button'>Button</a></p>
					 </div>
				 </div>
			 </div>
		</div>
	    </div>
		
</div>
