<style>
	
	.contenedor-titulo{
/* 		padding-left:5%; */
		margin-top:5%;
		height:5%;
		line-height: 10px;
	}
	
	.titulo-evento{
		font-family:Aldrich;
		font-size:100px;
	}
	
	.item-reporte{
		text-align: center;		
	}
		
	.imagen-eventoDeportivo{
		width:45%;
		height:45%;
	}
   
/*    .imagen-deportista{ */
/* 		width:50%; */
/* 		height:50%; */
/* 	} */
/* 	.item-reporte:hover{ */
	
/* 		transform: scale(1.1); */
/* 		transition: all .2s ease-in-out; */
	
/* 	} */
	
	.image-wrap {
	
}
 
    .image-wrap img {
   		height:auto;
        width: 70%;
        overflow: hidden;
	/*border: 10px solid #fff;
 	/*border-bottom: 45px solid #fff;*/
  /*	-webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;*/

    }
    
.pepito{


   	border: 10px solid #fff;
 	/*border-bottom: 45px solid #fff;*/
  	-webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;

}
     .pepito:hover{ 
 
	
	transform: scale(1.05);  
  	transition: all .5s ease-in-out;  
	-webkit-box-shadow: 5px 5px 3px #777;
    -moz-box-shadow: 5px 5px 3px #777;
    box-shadow: 5px 5px 3px #777;
    
 	}
	
</style>

<div class="PerfilWrapper FullHeight" ng-init="cargarDatos()">

<div class="PerfilNews FormCustom" style="float: left;width: 80%;">

<div class="FormCustom" style="float: left;width: 100%;">
 
	<div class="row">
		<div ng-show="mensajeValidacion" class="alert alert-danger">{{mensajeValidacion}}</div>
	</div>
	
	

<!-- 		<div class="col-md-3 ImagenPerfil">  -->
<!-- 			<img ng-src="{{rutaFoto}}" alt="no-image" style="width:100%;max-height:100%;" /> -->
<!-- 		</div> -->
		
		<div class="col-md-12 contenedor-titulo" style="text-align: center;">
			<span class="titulo-evento" ng-bind="nombreDeporte"></span>
		</div>				
		
	
		

	
			
		<div class="col-sm-12">
			<h1>Disciplinas</h1>
			
			<div ng-if="deportesMasculinos.length > 0" class="col-sm-12">
			<h3>Masculino</h3>	
				<div ng-repeat="d in deportesMasculinos">
					<div class="col-sm-4 item-reporte" id="{{d.nombreDisciplina}}">
						<a ng-click="irDisciplina(d.nombreDisciplina,d.sexo)">
				       		<div>
				           		<h3>{{d.nombreDisciplina}}</h3>								            	
					           		<img class="imagen-eventoDeportivo" alt="no-image" ng-src="{{d.foto.ruta}}">
				       	 	</div>
						</a>
					</div>
				</div>
			</div>
			<hr>
			<div ng-if="deportesFemeninos.length > 0" class="col-sm-12">
			<h3>Femenino</h3>
				<div ng-repeat="d in deportesFemeninos">
					<div class="col-sm-4 item-reporte" id="{{d.nombreDisciplina}}">
						<a ng-click="irDisciplina(d.nombreDisciplina,d.sexo)">
				       		<div>
				           		<h3>{{d.nombreDisciplina}}</h3>								            	
					           		<img class="imagen-eventoDeportivo" alt="no-image" ng-src="{{d.foto.ruta}}">
				       	 	</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-12">
			<h1>Deportistas</h1>
					
			<div ng-repeat="d in deportistas">
		<a ng-click="deportistaSeleccionado(d)">
		  <div class="col-sm-3 item-reporte" id="{{d.deportistaID}}" style="padding: 1%;">
				 <div class=" pepito" >
					 <div class="image-wrap" style="padding-bottom: 10px">			  
					     <img class="" alt="no-image" ng-src="{{d.foto.ruta}}">	
				     </div>	
				     
				     <div class="col-md-12" style="color: #888;">
				     	 <p>{{d.nombre}} {{d.apellido}}<p>		
				      </div>	     	
		        </div>
			</div>
		</a>
			  </div>
		
<!-- 	        <div class="col-sm-4 item-reporte" id="{{d.deportistaID}}"> -->
	        
<!-- 	       		<div> -->
<!--             		<h3>{{d.nombre}} {{d.apellido}}</h3> -->
            	
<!--             		<img class="imagen-deportista" alt="no-image" ng-src="{{d.foto.ruta}}"> -->
<!--            	 	</div> -->
<!--             	 </a> -->
<!--             	 </div> -->
<!-- 	            <hr />  -->
	      
						
			</div>			
	</div>	
</div>		
</div>
