<div ng-init="listarCompetencias()">

	<div class="col-md-12" ng-if="competencias.length == 0">
		No hay competencias hasta el momento!
	</div>

	<div ng-if="competencias.length > 0">
		<div ng-repeat="c in competencias">
	        <div class="row" id="{{c.idCompetencia}}">
	        
	       		<div class="row">
            		<h3>Competencia {{c.idCompetencia}}</h3>
            	</div>
            	
            	<div class="row">
            		<label>Ronda:</label>		N&#186; {{c.ronda}}
           	 	</div>
            	 
            	<div class="row">
            		<label>Deporte:</label>		{{c.nombreDeporte}} {{c.nombreDisciplina}} {{c.sexo}}
				 </div>	            
				
             	<div class="row">
            		<label>Fecha:</label>		{{c.fecha  | date:'dd-MM-yyyy HH:mm'}} hs.
	            </div>
	            
				<div class="row">
					<label>Lugar:</label>		{{c.estadio}}
				</div>
				
	            <div ng-if="c.finalizada == true" class="row" >
	            	<div class="col-sm-offset-8 col-sm-2">
			            <a ng-click="setCompetenciaSeleccionada(c.idCompetencia)" ui-sref="perfilDisciplina.paso2" class="btn btn-block btn-info">
			            	Ver mas 
			            	<span class="glyphicon glyphicon-circle-arrow-right"></span>
						</a>
					</div>
				</div>
					
	            <hr />
	        </div>
	    </div>
	</div>
</div>
