<div class="container">

	<div class="jumbotron text-center">
	    <h1>Registro Usuario</h1>
	    <p> Ingrese la informaci&oacuten del usuario a ingresar en 
	    	<span class="text-danger" ng-bind="nombreTenant"></span>
	    </p>    
	</div>
	
	<div class="row">
		<div ng-show="mensajeValidacion" class="alert alert-danger">{{mensajeValidacion}}</div>
	</div>
	
	<form role="form" name="formRegistro">

		<div class="form-group">

			<div class="row">
				<label class="control-label col-sm-2" for="email">Email:</label>
				<div class="col-sm-10">
					<input type="email" id="email" placeholder="Ejemplo@correo.com" ng-model="usuario.email"
						class="form-control" required>
				</div>
			</div>
			
			<div class="row">
				<label class="control-label col-sm-2" for="contrasenia">Contrase&ntildea:</label>
				<div class="col-sm-10">
					<input type="password" id="contrasenia" placeholder="Contrase&ntilde;a"
						ng-model="usuario.password" class="form-control" required>
				</div>
			</div>
			
				
			<div class="row">
	            <div class="col-sm-offset-2 col-sm-8">
					<button type="submit" ng-disabled="formRegistro.$invalid" ng-click="altaUsuarioComun()"	class="btn btn-default">Aceptar</button>
						
	            	<img ng-if="cargando" src="/resources/defecto/img/ajax_loader_gray_32.gif" />
	            	<a ui-sref="login({ tenant: nombreTenant })" class="btn btn-link">Cancelar</a>
	        	</div>
			</div>
			
		</div>

	</form>



</div>