<style>
<!--
.backToTop{
	position:fixed; right: 10px; bottom: 10px;
}
-->
</style>
<div class="container" ng-init="listarCompetenciasPendientes()">
	<form role="form" name="formResultado1">
		<div class="form-group">

			<h1>Competencias Pendientes</h1>
			<hr />
		    <div ng-repeat="c in competencias">
		        <div class="row" id="{{c.idCompetencia}}">
		        
		       		<div class="row">
	            		<h3>Competencia {{c.idCompetencia}}</h3>
	            	</div>
	            	
	            	<div class="row">
	            		<label>Ronda:</label>		N&#186; {{c.ronda}}
            	 	</div>
	            	 
	            	<div class="row">
	            		<label>Deporte:</label>		{{c.nombreDeporte}} {{c.nombreDisciplina}} {{c.sexo}}
<!-- 										   			{{c.tipoDeporte}} -->
					 </div>
		            
					
	             	<div class="row">
	            		<label>Fecha:</label>		{{c.fecha  | date:'dd-MM-yyyy HH:mm'}} hs.
		            </div>
		            
					<div class="row">
						<label>Lugar:</label>		{{c.estadio}}
					</div>
					
<!-- 					{{c.precioEntrada}}				 -->
<!-- 					{{c.cantEntradas}}				 -->
<!-- 					{{c.entradasVendidas}}				 -->
<!-- 					{{c.juez}} -->				
<!-- 					{{c.deportistas}} -->
		            <div class="row" >
		            	<div class="col-sm-offset-8 col-sm-2">
				            <a ui-sref="altaResultado.paso2" 
				            ng-click="setCompetenciaSeleccionada(c.idCompetencia)" class="btn btn-block btn-info">
				            	Siguiente 
				            	<span class="glyphicon glyphicon-circle-arrow-right"></span>
							</a>
						</div>
					</div>
		            <hr />
		        </div>
		    </div>
		    
		</div>
	</form>
	
	<input type="image" class="backToTop" src="resources/defecto/img/back_to_top.png" alt="Arriba!" ng-click="goTop()"/>
</div>