
<style>
	textarea { resize:vertical ; }
	
	.imagen-eventoDeportivo{
		width:8%;
		height:8%;
	}
	
</style>

<div class="container" ng-init="iniciarCombos()">
	<form role="form" name="formResultado2">
		<div class="form-group">
		
			<div class="row">
				<label class="control-label col-sm-2" for="titulo">Participante: </label>
				<div class="control-label col-sm-2">				
	   				<select  ng-model="estadistica.objeto" 
							 ng-options="o.nombre for o in objetosCombo track by o.id"
	   						 ng-disabled="objetosCombo.length == 0"
	   						 ng-change="actualizarFoto()">
					 </select>
		   		</div>
		   		<div>
		   			<img ng-show="habilitarFinalizar()" class="imagen-eventoDeportivo" ng-src="{{imagenSeleccionada}}" alt="no-image">
		   		</div>
			</div>
			
						
			<div class="row">
				<label class="control-label col-sm-2" for="titulo">Posici&oacute;n: </label>
					<div class="control-label col-sm-2">
		   			<select ng-disabled="objetosCombo.length == 0" 
				   			ng-model="estadistica.posicion" 
				   			ng-options="pos for pos in posiciones">
		   			</select>
		   		</div>
			</div>			
						
			<div class="row">
				<label class="control-label col-sm-2" for="descripcion">Dato informativo:</label>
				<div class="col-sm-6">
					<textarea id="datoInformativo" 
							  ng-disabled="objetosCombo.length == 0" 
							  ng-model="estadistica.datoInformativo"
							  rows="10" 
							  cols="30"
							  placeholder="Dato" 
							  class="form-control" 
							  required>
					</textarea>
				</div>
			</div>
			
			<div class="row">
	            <div class="col-sm-offset-6 col-sm-1">
					<button type="submit" ng-disabled="habilitarFinalizar()" ng-click="altaResultado()" class="btn btn-default btn-danger">Finalizar</button>
	            	<img ng-if="cargando" src="/resources/defecto/img/ajax_loader_gray_32.gif" />
	        	</div>
			
	            <div class="col-sm-offset-1 col-sm-1">
		            <a ng-disabled="habilitarAceptar()" ng-click="agregarEstadistica()" class="btn btn-default"> 
			            Aceptar
		            </a>        
					
	        	</div>
			</div>
							
          	<div class="col-sm-2">
	            <a ng-disabled="!estadisticas.length == 0" ng-click="limpiarDatos(false)" class="btn btn-block btn-success"> 
		            
		            Atr&aacute;s
	            </a>
			</div>
			
						
		</div>
	</form>
</div>