<div id="PerfilWrapper" class="PerfilWrapper FullHeight">
	
	<div class="PerfilNews FormCustom">
<div class="page-header text-center">

	<div class="jumbotron text-center RoundedTop jumpbotrongb">
	    <h1>Alta Resultado</h1>   
	</div>
	
	<div class="row">
		<div ng-show="mensajeValidacion" class="alert alert-danger">{{mensajeValidacion}}</div>
	</div>
	
</div>
<form id="formAltaResultado" role="form" name="formAltaResultado">
	
	<div id="form-views" ui-view class="FormCustom"></div>

</form>
</div>
</div>