<!doctype html>
<html>
  <head>
   <link rel="stylesheet" href="resources/angular/shared/bootstrap/css/bootstrap.css" />  
  <!--    <link rel="stylesheet" href="resources/angular/shared/bootstrap/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="resources/defecto/css/Perfil.css" /> 
    <link rel="stylesheet" href="resources/defecto/css/Index.css" /> 
<!--   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />-->
<!--     <base href="/"> -->
  
  	<link rel="stylesheet" href="resources/angular/shared/minicolors/css/jquery.minicolors.css" /> 
<link rel="stylesheet" href="resources/angular/shared/fancyBox/source/jquery.fancybox.css" /> 

<!--  	<link rel="icon" href="resources/defecto/img/favicon.jpg" type="image/x-icon" /> -->

	<link href='https://fonts.googleapis.com/css?family=Aldrich'
		rel='stylesheet' type='text/css'></link>
  </head>

  <body ng-app="eventosSGEM" ng-controller="AppCtrl"  ng-style="customStyle" >

	<div class="header"  ng-cloak>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">

				<ul class="nav navbar-nav">
					<li  ">
						<a id='logonav' ui-sref="main({tenant: tenant  })" style="padding:0px!important;" >
						
						
						</a>
					</li>
					<li> <a class="" >Deportistas</a> </li>
					<li> <a class="" >Comites Olimpicos</a> </li>
					<li> <a ui-sref="Galeria({tenant: tenant  })" >Galeria</a> </li>
					<li> <a ui-sref="perfilEvento({tenant: tenant })" class="" >{{tenant}}</a> </li>
					
					
					<li ng-if="chequearComite()" class="dropdown">
			          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a ui-sref="perfilComite({tenant: tenant  })">Mi Perfil</a></li>
				            <li><a ui-sref="altaDeportista({tenant: tenant  })">Crear Deportista</a></li>
				            <li><a ui-sref="altaNovedad({tenant: tenant  })">Nueva Novedad</a></li>
				         	<li><a ui-sref="buscarDeportistas({tenant: tenant  })">Deportistas</a></li>
				            
<!-- 				            <li role="separator" class="divider"></li> -->
				          </ul>
			        </li>
					
					<li ng-if="chequearUsuarioComun()" class="dropdown">
			          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a ui-sref="formCompraEntrada.Paso1({tenant: tenant  })">Comprar Entradas</a></li>
				          </ul>
			        </li>
			        
			        <li ng-if="chequearJuez()" class="dropdown">
			          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a ui-sref="altaResultado.paso1({tenant: tenant  })">Completar Resultados</a></li>
				          </ul>
			        </li>
			        
			        <li ng-if="chequearOrganizador()" class="dropdown">
			          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a ui-sref="formEdicionEvento.Paso1({tenant: tenant  })">Configurar Evento</a></li>
				            <li><a ui-sref="altaEventoDeportivo({tenant: tenant  })">Crear Deportes</a></li>
				            <li><a ui-sref="altaJuez({tenant: tenant  })">Crear Jueces</a></li>
				            <li><a ui-sref="altaComite({tenant: tenant  })">Crear Delegaciones</a></li>
				          </ul>
			        </li>
					
				</ul>	
				
				<ul class="nav navbar-nav navbar-right">
					<li> <a id="lnkFb" class="iconBtn facebook" ></a> </li>
					<li> <a id="lnkTw" class="iconBtn twitter"></a> </li>
					<li> <a id="lnkYT" class="iconBtn youtube"></a> </li>
					<li> <a id="lnkIG" class="iconBtn instagram"></a> </li>
				</ul>
				<ul ng-show="!isAuthenticated()" class="nav navbar-nav navbar-right">
					<li class="text-navbar"><a ng-cloak ui-sref="altaUsuarioComun({ tenant: tenant  })"  >Registro</a></li>
				</ul>
				
				<ul ng-show="!isAuthenticated()" class="nav navbar-nav navbar-right">
					<li class="text-navbar"><a ng-cloak ng-show="!isAuthenticated()" ng-cloak ui-sref="login({ tenant: tenant })">Login</a></li>
				</ul>
				<ul ng-show="isAuthenticated()" class="nav navbar-nav navbar-right">
					<li class="text-navbar"><a ng-click="salir()">Cerrar Sesion</a></li>
				</ul>
			</div>
		</nav>
	</div>

    <!-- Add your site or application content here -->
    <div class="FullHeight " >	
	    <div class=" FullHeight col-md-12" ui-view></div>
    </div>
    
    <!-- Scripts -->
	<script type="text/javascript"  src="resources/angular/shared/angular/angular.js"></script>
    <script type="text/javascript"  src="resources/angular/shared/i18n/angular-locale_es-uy.js"></script>
    <script  type="text/javascript" src="resources/angular/shared/jquery/jquery.js"></script>
     <script  type="text/javascript" src="resources/angular/shared/bootstrap/js/bootstrap.js"></script> 
     <script  type="text/javascript" src="resources/angular/shared/angular-bootstrap/ui-bootstrap-tpls-0.13.3.min.js"></script> 
<!--     <script  type="text/javascript" src="resources/angular/shared/angular-bootstrap/ui-bootstrap-tpls.js"></script> -->
    <script  type="text/javascript" src="resources/angular/shared/angular-route/angular-route.js"></script>
    <script  type="text/javascript" src="resources/angular/shared/angular-cookies/angular-cookies.js"></script>
    <script  type="text/javascript" src="resources/angular/shared/angular-animate/angular-animate.js"></script>
    <script  type="text/javascript" src="resources/angular/shared/satellizer/satellizer.min.js"></script>
    <script  type="text/javascript" src="resources/angular/shared/angular-ui-router/angular-ui-router.min.js"></script>
    <script  type="text/javascript" src="resources/angular/shared/angular-google-chart-0.0.11/ng-google-chart.js"></script>
    <script  type="text/javascript" src="resources/angular/shared/angular-datetime-picker/datetime-picker.min.js"></script>
	<script  type="text/javascript" src="resources/angular/shared/minicolors/js/jquery.minicolors.min.js"></script>
	<script  type="text/javascript" src="resources/Others/smooth-scroll/angular-scroll.min.js"></script>
    <script  type="text/javascript" src="resources/angular/shared/fancyBox/source/jquery.fancybox.js"></script>
    <!-- Modules -->
    <script src="resources/defecto/js/app.js"></script>
    <!-- Controllers -->
    <script src="resources/defecto/js/controllers/appController.js"></script> 
    <script src="resources/defecto/js/controllers/usuarioCtrl.js"></script>
    <script src="resources/defecto/js/controllers/mainCtrl.js"></script>
    <script src="resources/defecto/js/controllers/eventoDeportivoCtrl.js"></script>    
    <script src="resources/defecto/js/controllers/eventoMultiDeportivoCtrl.js"></script>
    <script src="resources/defecto/js/controllers/deportistaCtrl.js"></script>
    <script src="resources/defecto/js/controllers/juezCtrl.js"></script>
    <script src="resources/defecto/js/controllers/competenciaCtrl.js"></script>
    <script src="resources/defecto/js/controllers/entradasCtrl.js"></script>
    <script src="resources/defecto/js/controllers/resultadoCtrl.js"></script>
	<script src="resources/defecto/js/controllers/NovedadCtrl.js"></script>
    <script src="resources/defecto/js/controllers/InstagramCtrl.js"></script>
    <script src="resources/defecto/js/controllers/perfilEventoCtrl.js"></script>
    <!-- Services -->
    <script src="resources/defecto/js/services/myServices.js"></script>
    <script src="resources/defecto/js/services/mensajes.js"></script>
    <script src="resources/defecto/js/services/google-maps-initializer.js"></script>
      <!-- Directives -->
    <script src="resources/defecto/js/directives/fileModel.js"></script>
	<script src="resources/defecto/js/services/novedad.js"></script>
  

</body>

</html>
